<%= form.hidden_field :user_id %>
<%= form.hidden_field :reserved_date %>
<%= form.hidden_field :usage_time %>
<%= form.hidden_field :people %>
<%= form.hidden_field :room_id %>
<div class="actions">
  <%= form.submit conf_button %>
</div>
