<!DOCTYPE html>
<html>
  <head>
    <title>Reservation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li><%= link_to t('button.top'), root_path %></li>
        <li><%= link_to t('message.register', model: User.model_name.human), new_user_path %></li>
        <li><%= link_to t('button.login'), new_auths_path %></li>
      </ul>
    </header>
    <hr>
    <%= yield %>
    <hr>
    <footer>
      <p>© 2019 Copyright resereved Rooms Reservation</p>
    </footer>
  </body>
</html>
